<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaborations</title>
    <style>
      body {
        background-image: url("bg3.jpg");
    }
    .header{
        font-size: 49px;
        text-align: center;
    }
        
        
      .fcontainer{
        background-color: rgba(199, 106, 137, 0.422);
        display: flex;
        height: 80vh;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;


      }
      .fitem{
        font-size: 23px;

      }
    </style>
  </head>
  <body>
    <header class="header">
      <h1>Our Collaborations</h1>
    </header>
    <div class="fcontainer">
        <div class="fitem">

            <h2>
                Cloudflare
            </h2>
            <p>
              We have collaborations with the platform since  19 jul 2020 and trusted thier services 
                <b>Cloudflare is a global network designed to make everything you connect to
                the Internet secure, private, fast, and reliable.</b>
              Secure your websites, APIs, and Internet applications. Protect corporate
              networks, employees, and devices. Write and deploy code that runs on the
              network edge.
            </p>
        </div>
        <div class="fitem">
            <h2>
                Drop mysite
            </h2>
            <p>
                Backup all your websites and databases, irrespective of the hosting provider, in one clean and easy to use dashboard. Protect yourself with our free Website monitoring and Google blacklist monitoring capabilities.
            </p>
        </div>
        <div class="fitem">
            <h2>Amazon-prime</h2>
            <p>
            We have collaborations with prime videos, from past 3 months... which helps us to safely and easily manage your subscriptions 
            </p>
        </div>

        
    </div>
    <div class="fitem">

    </div>
  </body>
</html>
