<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body{
            background-image: url(bg5.jpg);
        }
        h1{
            text-align: center;
            font-size: 59px;
        }
        .mid{
            margin: 127px 243px;
    padding: 121px 139px;
    background-color: rgba(14, 59, 72, 0.652);
    border-radius: 4px;
    width: 59%;
        }
        p{
            font-size: 28px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="header">
        <h1>About Us</h1>

    </header>
    <div class="mid">
        <p>
           We need this webpage because its easier to maanage and keep track of all Id's credentials and subscriptions  at one place   
        </p>
        <p>
            We provide user a platform to connect all thier ID's of subscription based web appllicatioins
            , such as netflix , Amazon-prime , github , Spotify...etc
            And provide features to monitor the subscription plans..., and aslo create a virtual card.


            

        </p>

    </div>
    
    
</body>
</html>